header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#start-screen {
  text-align: center;
}

#question-screen, #results-screen, #judgment, #scores-screen {
  margin-left: 35%;
  margin-right: 35%;
}

